{{ partial "meta.html" . }}
<body>
{{ partial "nav.html" . }}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/icon.png" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">COMP1101 Formative 1</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">A website discussing the effects of computer science within society.</p>
        <a role="button" class="btn btn-primary btn-lg px-4 gap-3" href="https://github.com/WillMW02/comp1101-formative-1">Visit the Repo</a>
    </div>
</div>

{{ partial "scripts.html" . }}
